Repository owner: NIRAMAI ARKHOM 
Reviewer: NATTHA BUNYAMANI

| Criteria | Result |
| -------- | ------- |
| Test passed/failed | passed |
| R project found/not found | found |
| R-markdown is knitable/not knittable | knitable |
